html {
    box-sizing: border-box;
}

body {
    background-color: #2f82d5;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
    padding: 15px;
}

h2 {
    font-size: 1.3rem;
    font-weight: 700;
}